<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signup.css">
    <title>Sign Up form</title>
</head>
<body>
    <div class="form_container">
        <div class="heading">
            <h4 class="hm">Welcome</h4>
            <p class = "sm">Let's sign you up!</p>
        </div>
        <form action="">
            <input type="text" name="uname" placeholder="Name">
            <input type="text" name="email" placeholder="Email address">
            <input type="password" name="password" placeholder="Password">
            <!-- <input type="date" name="dob" placeholder="Date-of-birth"> -->
            <div class="btn_container">
                <input type="submit" value="Sign up"/>
            </div>
        </form>
        <button class = "bth_btn" onclick="location.href='/'">Back to homepage</button>

    </div>
</body>
</html>